body {
	background-color: #298eea;
	font-family: "Roboto", helvetica, sans-serif;
	margin: 0px;
	padding: 60px 0 0;
	font-size: 18px;
}

body * {
  box-sizing: border-box;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.logo {
	display: block;
	width: auto;
	height: 35px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
	/*margin: 0 auto 30px;*/
/*	position: absolute; this and next 4 lines is needed to center logo?
	margin: auto;
	left: 500px;
	right: 500px;
	top: 60px;	*/
}

.signup-form {
	width: 400px;
	padding: 40px;
	border-radius: 3px;
	background-color: white;
	margin: 0 auto;
	/*width: 320px;
	height: 388px;
	margin-top: 125px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	background-color: white;*/
}

.signup-form legend {
	width: 100%;
	line-height: 38px;     /*line-height?*/
	font-size: 35px;
	font-weight: 300px;
	color: #565656;
	text-align: center;
	/*letter-spacing: 0;*/
	margin: 0 auto 40px;
}

.signup-form input, button {
	display: block;
	width: 100%;
	height: 55px;
	font-size: 18px;
	text-align: left;
	padding: 15px;
	border: 2px solid #e7e7e7;
	border-radius: 3px;
	background: #fcfcfc;
	margin: 10px auto 20px;
	transition: opacity 0.4s;
}

.signup-form button {
	font-size: 22px;
	font-weight: 200;
	color: white;
	text-align: center;
	background-color: #15CD72;
	margin-bottom: 0;
}

footer, a {
	color: white;
	text-align: center;
	font-weight: 600;
}

fieldset button:hover {
	background-color: green;
}

